@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: #0a0a0a;
  color: #f3f4f6;
}

@layer utilities {
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .animate-blink { /*applied to the | character on LoadingScreen.jsx*/
    animation: blink 0.8s ease infinite;
  }

  @keyframes loading { /* keyframes = define animation sequence*/
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }
  .animate-loading-bar { /*applied to the blue background div that moves accross the loading bar in LoadingScreen.jsx*/
    animation: loading 0.8s ease infinite;
  }
}