@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: #000000;
  color: #f3f4f6;
  scroll-behavior: smooth;
}

.opacity-fading-project {
  @apply absolute inset-0 transition-opacity duration-500 ease-in-out flex flex-col gap-8;
}

.button-selector-container {
  @apply inline-flex bg-[#054575] p-3 rounded-lg shadow-md gap-10;
}

.button-selector-selected-item {
  @apply bg-blue-500 py-1 px-3 rounded-lg shadow-md cursor-pointer ease-in-out transition-colors;
}

.button-selector-item {
  @apply bg-black py-1 px-3 rounded-lg shadow-md cursor-pointer ease-in-out transition-colors;
}


.full-image {
  @apply w-full max-w-full h-auto rounded-lg object-cover;
}

.rounded-image {
  @apply rounded-lg object-cover;
}

.non-centered-scrollable-section {
  scroll-margin-top: 84px;
}

.interactable-text {
  @apply text-gray-300 hover:text-white transition-colors font-mono;
}

.list {
  @apply list-none space-y-2 text-left;
}

.hover-image-text {
  @apply font-sans text-[20px] text-center w-full leading-relaxed text-[#247dc2] hover:text-[#a5bfd3] cursor-pointer transition-colors;
}

.hover-image {
  @apply w-64 h-64 rounded-lg object-cover; 
}

.hover-image-display-grid {
  @apply fixed left-1/2 transform -translate-x-1/2
         grid grid-cols-3 gap-2 bg-gradient-to-br from-[#101010] to-[#1a1a25] p-2 rounded shadow-lg z-39;
}

.passage-text {
  @apply text-white font-sans text-[20px] text-center w-full leading-relaxed;
}

.small-button-text {
  @apply text-white bg-black font-sans text-[15px] text-center py-1 px-3 rounded-lg shadow-md leading-relaxed;
}

.card-button-text {
  @apply text-white bg-black font-sans text-[20px] text-left py-1 px-3 rounded-lg shadow-md leading-relaxed;
}

.passage-text-left {
  @apply text-white font-sans text-[20px] text-left w-full leading-relaxed;
}

.cards-row {
  @apply flex flex-wrap gap-4 justify-center;
}

.card-item {
  @apply flex-1 w-[400px] min-w-[250px] bg-[#054575] p-3 rounded-lg shadow-md;
}

.card-header {
  @apply text-white font-mono text-[24px] text-center w-full mb-[4px];
}

.passage-text-header {
  @apply text-white font-mono text-4xl text-center w-full;
}

.page-content-container-centered-500 {
  @apply min-h-screen flex flex-col items-center justify-center relative gap-8 mx-auto max-w-[500px];
}

.page-content-container-centered-1000 {
  @apply min-h-screen flex flex-col items-center justify-center relative gap-8 mx-auto max-w-[1000px];
}

.page-content-container-1000 {
  @apply min-h-screen flex flex-col items-center mt-[84px] relative gap-8 mx-auto max-w-[1000px];
}

.bottom-anchor {
  @apply absolute bottom-10
}


@layer utilities {
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .animate-blink { /*applied to the | character on LoadingScreen.jsx*/
    animation: blink 0.8s ease infinite;
  }

  @keyframes loading { /* keyframes = define animation sequence*/
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }
  .animate-loading-bar { /*applied to the blue background div that moves accross the loading bar in LoadingScreen.jsx*/
    animation: loading 0.8s ease infinite;
  }
}